<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Top menu item -->
    <menuitem name="Open_Academy" id="main_open_academy_menu"/>
    <!-- menu categories -->
    <menuitem name="Open Academy" id="open_academy_menu" parent="main_open_academy_menu"/>
    <!-- call menu actions -->
    <menuitem name="Course" id="course_menu" parent="open_academy_menu"
              action="course_list_action"
              sequence= "0"/>
    <menuitem id="session_menu" name="Sessions"   parent="open_academy_menu"
              action="session_list_action"
              sequence="1"/>
</odoo>